{% if matches_view %}
    <ul>
        {% for match_view in matches_view %}
        	{% if match_view.1 %}
            	<li>{{ match_view.0.home_team }} - {{ match_view.0.away_team }}: <a href="/matches/tips/{{ match_view.0.id }}/">{{ match_view.1.home_score_tip }} - {{ match_view.1.away_score_tip }}</a></li>
            {% else %}
            	<li>{{ match_view.0.home_team }} - {{ match_view.0.away_team }}: <a href="/matches/tips/{{ match_view.0.id }}/">Tip</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p>No matches are available.</p>
{% endif %}