.flag_and_country {
	float: right;
}

.country {
	float: right;
	position: absolute;
}

.flag {
	float: right;
	position: absolute;
}

.tip {
	float: right;
}

th.header { 
    background-image: url(../img/small.gif); 
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: right top; 
    padding-left: 20px; 
    border-right: 1px solid #dad9c7; 
    margin-left: -1px; 
}

th.headerSortDown { 
    background-image: url(../img/small_desc.gif); 
    background-color: #9d9d9d; 
} 

th.headerSortUp { 
    background-image: url(../img/small_asc.gif); 
    background-color: #9d9d9d; 
}