.home_flag {
    display: inline-block;
}

.match_tip {
    display: inline-block;
}

.away_flag {
    display: inline-block;
}

th.header { 
    background-image: url(../img/small.gif); 
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center left; 
    padding-left: 20px; 
    border-right: 1px solid #dad9c7; 
    margin-left: -1px; 
}

th.headerSortDown { 
    background-image: url(../img/small_desc.gif); 
    background-color: #3399FF; 
} 

th.headerSortUp { 
    background-image: url(../img/small_asc.gif); 
    background-color: #3399FF; 
} 