<!doctype html>
<html lang="en">
	<head>
	  <meta charset="utf-8">
	
	  <title>Football ECH</title>
	  {% load staticfiles %}
	  
	  <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	  <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
	  <link rel="stylesheet" href="{% static 'css/main.css' %}">
	  <script src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
	  <script src="{% static 'js/bootstrap.min.js' %}"></script>
	</head>
	
	<body>
		<div class="menu">
			<nav class="navbar navbar-inverse">
				{% if user and not user.is_anonymous %}
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="dropdown">
					            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Leagues <span class="caret"></span></a>
					            <ul class="dropdown-menu">
					                <li><a href="#">Create league</a></li>
					                <li><a href="#">Join league</a></li>
					                <li><a href="#">My leagues</a></li>
					          </ul>
					        </li>
							<li><a href="/matches/standings.html">Standings</a></li>
							<li><a href="/matches/list_matches.html">Matches</a></li>
						</ul>
						<ul class="nav navbar-nav" style="float: right">
							<li><a href="/logout">Logout</a></li>
						</ul>
					</div>
				{% endif %}
			</nav>
		</div>
		<div class="container" role="main">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>