{% extends "base.html" %}

{% block content %}

	<h1>{{ league_name }}</h1>

	<div class="col-md-9">
		<table id="standings_table" class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					{% for scoring_condition in scoring_conditions %}
						<th>{{ scoring_condition }}</th>
					{% endfor %}
					<th>Points</th>
				</tr>
			</thead>
			<tbody>
				{% for user_score in standings %}
					<tr>
						<td>{{ user_score.0.first_name }} {{ user_score.0.last_name }}</td>
						<td>{{ user_score.1.0 }}</td>
						{% if user_score.1.exact_guess != -1 %}
							<td>{{ user_score.1.exact_guess }}</td>
						{% endif %}
						{% if user_score.1.goal_difference != -1 %}
							<td>{{ user_score.1.goal_difference }}</td>
						{% endif %}
						{% if user_score.1.outcome != -1 %}
							<td>{{ user_score.1.outcome }}</td>
						{% endif %}
						{% if user_score.1.number_of_goals != -1 %}
							<td>{{ user_score.1.number_of_goals }}</td>
						{% endif %}
						{% if user_score.1.home_goals != -1 %}
							<td>{{ user_score.1.home_goals }}</td>
						{% endif %}
						{% if user_score.1.away_goals != -1 %}
							<td>{{ user_score.1.away_goals }}</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
	<div class="col-md-3">
		{% if matches_view %}
			{% for match_view in matches_view %}
				<p>
					{{ match_view.0.get_home_team_display }}
					{% if match_view.1 %}
		            	<a href="/leagues/{{ league_id }}/tip/{{ match_view.0.id }}/">{{ match_view.1.home_score_tip }} - {{ match_view.1.away_score_tip }}</a>
		            {% else %}
		            	<a href="/leagues/{{ league_id }}/tip/{{ match_view.0.id }}/">Tip</a>
		            {% endif %}
				 	{{ match_view.0.get_away_team_display }}
				 </p>
			{% endfor %}
		{% else %}
		    <p>No upcoming matches.</p>
		{% endif %}
	</div>
	
	<script>
		$(document).ready(function() {
			$("#standings_table").tablesorter(); 
		} );
	</script>
{% endblock %}