{% extends "base.html" %}

{% block content %}
	{% for user_score in standings %}
		<p>{{ user_score.0.first_name }} {{ user_score.0.last_name }} - {{ user_score.1 }}</p>
	{% endfor %}
	
	{% if matches_view %}
		{% for match_view in matches_view %}
			<p>
				{{ match_view.0.home_team }}
				{% if match_view.1 %}
	            	<a href="/leagues/{{ league_id }}/tip/{{ match_view.0.id }}/">{{ match_view.1.home_score_tip }} - {{ match_view.1.away_score_tip }}</a>
	            {% else %}
	            	<a href="/leagues/{{ league_id }}/tip/{{ match_view.0.id }}/">Tip</a>
	            {% endif %}
			 	{{ match_view.0.away_team }}
			 </p>
		{% endfor %}
	{% else %}
	    <p>No upcoming matches.</p>
	{% endif %}
{% endblock %}